@values color-point, color-white, color-dark-grey, line-grey, line-light-grey from '../../../common/colors.css';
@values font-regular, font-large from '../../../common/size.css';

.productList {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 20px;
  background-color: color-white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.header select {
  height: 40px;
  margin-left: 10px;
  padding: 5px;
  color: color-dark-grey;
  border: 1px solid line-grey;
}

/* 상품 리스트 */
/* list header */

.lists {
  width: 100%;
  overflow: scroll;
  border: 2px solid line-grey;
}
.lists_header {
  display: inline-flex;
  border-bottom: 2px solid line-grey;
}

.lists_header > div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-right: 1px solid line-grey;
  box-sizing: border-box;
}

.lists_header > div:last-child {
  border-right: none;
}

.check {
  width: 35px;
}

.check input {
  width: 20px;
  height: 30px;
  margin: 0;
}

.productNumber {
  width: 100px;
}

.salesStatus {
  width: 100px;
}

.importStatus {
  width: 100px;
}

.name {
  width: 220px;
}

.carNumber {
  width: 120px;
}

.vehicleType {
  width: 100px;
}

.seater {
  width: 80px;
}

.mileage {
  width: 100px;
}

.color {
  width: 80px;
}

.fuel {
  width: 80px;
}

.manufacturer {
  width: 120px;
}

.model {
  width: 100px;
}

.detailModel {
  width: 100px;
}

.transmission {
  width: 100px;
}

.accident {
  width: 100px;
}

.categoryName {
  width: 100px;
}

.assessorName {
  width: 100px;
}

.shopRegion {
  width: 100px;
}

.stockQuantity {
  width: 100px;
}

.createDate {
  width: 150px;
}

/* list body */
.lists_body {
  display: inline-flex;
  height: 400px;
  overflow: scroll;
}

.lists_body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lists_body > ul > li {
  display: inline-flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid line-light-grey;
}

.lists_body > ul > li > div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-right: 1px solid line-light-grey;
  box-sizing: border-box;
}

.lists_body > ul > li > div:last-child {
  border-right: none;
}

.removeBtn {
  width: 120px;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  background-color: color-point;
  border: none;
  color: color-white;
  cursor: pointer;
}
